POSTGRES_DB=dreamlink_staging
POSTGRES_USER=dreamlink
POSTGRES_PASSWORD=change_me

DB_URL=jdbc:postgresql://localhost:5432/dreamlink_staging
DB_USERNAME=dreamlink
DB_PASSWORD=change_me

SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=staging
